{% extends 'base.html' %}


{% block title %}
    <title>landing page</title>
{% endblock title %}


{% block content %}
<h1>landing page</h1>
<button><a href="{% url 'set_session' %}">set_session</a></button>
<button><a href="{% url 'get_session' %}">get_session</a></button>
<button><a href="{% url 'delete_session' %}">delete_session</a></button>



<h1>{{msg1}}</h1>
<h1>{{msg}}</h1>

{% if data %}
    NAME: {{data.name}}<br><br>
    EMAIL: {{data.email}}<br><br>
    PASSWORD: {{data.password}}<br><br>
    NUMBER: {{data.number}}<br><br>
    QUALIFICATION: {{data.qualification}}<br><br>
    GENDER: {{data.gender}}<br><br>
    STATE: {{data.state}}<br><br>
{% endif %}

{% endblock content %}  


    

